language: java
jdk:
  - openjdk7
  - oraclejdk7
  - oraclejdk8

script: "mvn --show-version --errors --batch-mode -Prun-its clean verify -Dittest.debug=false"

cache:
    directories:
    - $HOME/.m2
branches:
    except:
        - gh-pages
notifications:
    email:
        - olamy@apache.org
        - hboutemy@apache.org
