~~
~~ Copyright 2011-2013 Oracle
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~      http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~

Using JAXB XJC plugins with wsimport

  JAX-WS uses JAXB for data binding through the XJC binding compiler. A feature of XJC is its
  extensibility, which can be used to enhance the generated code via XJC plugins.
  Below is an example of this by using the {{{https://github.com/highsource/jaxb2-basics}JAXB2 Basics}} plugins.

+------------------------------------------+
<project>
  ...
  <dependencies>
    ...
    <!-- to compile xjc-generated sources -->
    <dependency>
      <groupId>org.jvnet.jaxb2_commons</groupId>
      <artifactId>jaxb2-basics-runtime</artifactId>
      <version>0.6.4</version>
    </dependency>
  </dependencies>
  ...
  <build>
    ...
    <plugins>
      ...
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>jaxws-maven-plugin</artifactId>
        <version>${project.version}</version>
        <dependencies>
          <!-- put the XJC plugins on the jaxws-maven-plugin's classpath -->
          <dependency>
            <groupId>org.jvnet.jaxb2_commons</groupId>
            <artifactId>jaxb2-basics</artifactId>
            <version>0.6.4</version>
          </dependency>
        </dependencies>
        <configuration>
          <!-- tell JAXB to actually use the XJC plugins -->
          <xjcArgs>
            <xjcArg>-Xequals</xjcArg>
            <xjcArg>-XtoString</xjcArg>
          </xjcArgs>
        </configuration>
        <executions>
          <execution>
            <id>jaxws-wsimport</id>
            <goals>
              <goal>wsimport</goal>
            </goals>
          </execution>
          <configuration>
            <wsdlUrls>
              <wsdlUrl>http://footballpool.dataaccess.eu/data/info.wso?WSDL</wsdlUrl>
            </wsdlUrls>
          </configuration>
        </executions>
      </plugin>
    </plugins>
    ...
  <build>
  ...
</project>
+------------------------------------------+
